@import "welcome.less";

#content {
    margin: 5% auto 5% auto;
}

#faq {
    padding-left: 0;
    text-align: left;
    list-style-type: none;
}

.question {
    font-size: 150%;
}

.question:before {
    content: "Q: ";
}
