@primary: hsl(210, 38%, 50%);
@contentwidth: 960px;

.shinybg(@c1; @c2; @c3; @c4) {
    background: @c1;
    background: -moz-linear-gradient(top, @c1 0%, @c2 50%, @c3 51%, @c4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @c1), color-stop(50%, @c2), color-stop(51%, @c3), color-stop(100%, @c4));
    background: -webkit-linear-gradient(top, @c1 0%, @c2 50%, @c3 51%, @c4 100%);
    background: -o-linear-gradient(top, @c1 0%, @c2 50%, @c3 51%, @c4 100%);
    background: -ms-linear-gradient(top, @c1 0%, @c2 50%, @c3 51%, @c4 100%);
    background: linear-gradient(to bottom, @c1 0%, @c2 50%, @c3 51%, @c4 100%);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: white;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

.js {
    cursor: pointer;
}

.wrapper {
    display: table-row;
    width: 100%;
}

.wrapper > div {
    display: block;
    width: 100%;
}

#middle {
    height: 100%;
}

#top > div,
#bottom > div {
    height: 100%;
    padding: 10px 0;
    font-family: "Signika";
    color: lighten(@primary, 40%);
    background-color: darken(@primary, 36%);
}

#nav {
    position: relative;
    width: 920px;
    margin: 0 auto;
}

#nav:after {
    content: "";
    display: block;
    clear: both;
}

#top h1,
#bottom h1 {
    display: inline;
    position: relative;
    margin: 0;
    top: 2px;
    font-size: 28px;
}

#top h1 a {
    color: inherit;
    text-decoration: none;
}

#top h1 .title {
    font-size: 16px;
    color: lighten(@primary, 20%);
}

#top h1 .title:before {
    content: " / ";
}

#top #links {
    float: right;
}

#top #links a {
    width: 24px;
    height: 24px;
    margin: 5px 20px 0 0;
    float: right;
    text-indent: -65536em;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
}

#top #links a:hover {
    opacity: 1;
}

#top #links a:first-of-type {
    margin-right: 0;
}

#blogs-link {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DCQM0AZa37TMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAJElEQVQokWNYcfD6fyhmgOL/pGAGahhAEaaKAaNhMBoGAx8GAEFRZ6/Zklp5AAAAAElFTkSuQmCC");
}

#new-link {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DCRQhBb8GessAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAM0lEQVQoz2NYcfA6AxL2AeL/+DBJipE1oCtmwILhGrCZjFfDf3I1MBDAoxoGqQaiMMkaAPnlD/AWM5t5AAAAAElFTkSuQmCC");
}

#menu-link {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90GDAUTBimlyQUAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAEhJREFUOI1jWHHwejwQPwTi/yRikJ54BjI1ww1hQOIwkIjB+oaxAbgCjWgDfLBo9iHVCz54NBMdBj44NA+BWKCvARRnJoqyMwBl7Ln7X7S3iwAAAABJRU5ErkJggg==");
}

#menu, #new {
    display: none;
}

/* jquery.dropdown.js overrides 
   TODO: fix tip positioning on small devices */

#top .dropdown {
    right: -20px !important;
    left: inherit !important;
    top: 33px !important;
}

#top .dropdown.dropdown-tip:before {
    top: -7px !important;
    border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

#menu.dropdown.dropdown-tip:before {
    left: 125px !important;
}
#menu.dropdown.dropdown-tip:after {
    left: 126px !important;
}

#new.dropdown.dropdown-tip:before {
    left: 81px !important;
}
#new.dropdown.dropdown-tip:after { 
    left: 82px !important;
}

#blogs.dropdown.dropdown-tip:before {
    left: 41px !important;
}
#blogs.dropdown.dropdown-tip:after { 
    left: 42px !important;
}

#top .dropdown.dropdown-tip:after {
    top: -6px !important;
    border-bottom-color: @primary !important;
}

#top .dropdown .dropdown-menu,
#top .dropdown .dropdown-panel {
    background-color: darken(@primary, 36%) !important;
    border: solid 2px @primary !important;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .2) !important;
}

#top .dropdown .dropdown-menu li > a {
    color: lighten(@primary, 40%) !important;
}

#top .dropdown .dropdown-menu li > a:hover {
    background-color: @primary !important;
}

.dropdown-divider {
    border-top: 2px solid @primary !important;
}

/* messages */

#messages {
    width: 920px;
    margin: 20px auto;
    list-style-type: none;
    padding-left: 0;
    font-family: "Signika";
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

#messages li {
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
}

@success: hsl(120, 100%, 50%);
@warning: hsl(45, 100%, 50%);
@error: hsl(0, 100%, 50%);

.message (@color) {
    background-color: darken(@color, 25%);
    border: 1px solid darken(@color, 10%);
    border-top: 1px solid darken(@color, 40%);
    box-shadow: 0 -1px 0 darken(@color, 10%),
                0 0 3px black;
}

#messages .success {
    .message(@success);
}

#messages .info {
    .message(@primary);
}

#messages .warning {
    .message(@warning);
}

#messages .error {
    .message(@error);
}

/* middle / content */

#middle > div {
    height: 100%;
    background-color: darken(@primary, 22%);
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
}

#middle > div > h1 {
    width: 880px;
    margin: 0 auto;
    padding: 20px 40px;
}

#content {
    width: 880px;
    margin: 10% auto;
    padding: 40px;
    color: lighten(@primary, 40%);
}

#templates {
    display: none;
}

@media screen and (max-width: 1000px) {
     
    #content {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
    }
    
    #top #nav,
    #messages {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px;
    }

    #top .dropdown-tip:before,
    #top .dropdown-tip:after {
        margin-left: -10px;
    }

}

@media screen and (max-width: 500px) {

    body {
        font-size: 12px;
    }

    #menu-link:before,
    #menu-link:after {
        top: 4px;
    }
    
    #content {
        padding: 10px;
    }

}
