@import "washboard.less";

#top {
    display: none;
}

@bg1: darken(@primary, 14%);
@bg2: darken(@primary, 22%);

#middle > div {
    background: @bg1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  @bg1 0%, @bg2 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, @bg1), color-stop(100%, @bg2)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  @bg1 0%, @bg2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  @bg1 0%, @bg2 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  @bg1 0%, @bg2 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  @bg1 0%, @bg2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@bg1', endColorstr='@bg2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#content, #messages {
    text-align: center;
}

#content {
    margin: 10% auto 5% auto;
}

a {
    color: inherit;
}

a:hover {
    color: white;
}

#logo {
    margin-bottom: 40px;
    font-family: "Signika";
    text-shadow: 0 2px 2px fade(black, 25%);
}

#logo a {
    text-decoration: none;
}

#logo * {
    margin: 0;
}

#logo h1 {
    font-size: 4em;
}

#logo h2 {
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
    margin-top: -0.4em;
}

#logo h3 {
    font-size: 1.5em;
    margin-top: -0.2em;
    color: #ffa0a0;
}

#intro {
    margin: 0 auto;
    width: 75%;
    max-width: 600px;
    font-size: 18px;
}

#intro p:first-child {
    margin-top: 0;
}

#supported {
    margin: 20px;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: 16px;
    color: lighten(@primary, 38%);
    background-color: darken(@primary, 30%);
    border: 1px solid darken(@primary, 40%);
    border-radius: 4px;
    box-shadow:  1px 1px 0px darken(@primary, 10%),
                -1px 1px 0px darken(@primary, 10%);
}

input[type=submit] {
    cursor: pointer;
    padding: 5px 20px;
    -webkit-appearance: none;
    .shinybg(darken(@primary, 22%); darken(@primary, 26%); darken(@primary, 30%); darken(@primary, 34%));
    box-shadow:  1px 1px 0px  darken(@primary, 10%),
                -1px 1px 0px  darken(@primary, 10%),
                 0   0   10px fade(white, 10%);
}

input[type=submit]:hover {
    .shinybg(darken(@primary, 18%); darken(@primary, 24%); darken(@primary, 30%); darken(@primary, 36%));
}

input[type=submit]:active {
    .shinybg(darken(@primary, 36%); darken(@primary, 30%); darken(@primary, 24%); darken(@primary, 18%));
}

@media screen and (max-width: 500px) {
    
    #intro {
        width: 90%;
    }

}
