html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c4762;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #202020;
}

/* generic elements */

a {
    color: #404040;
}

blockquote {
    margin: 1em 0;
    padding-left: 16px;
    border-left: 4px solid #c0c0c0;
}

h2 {
    margin-top: 0;
}

noscript p {
    text-align: center;
    font-size: 24px;
    color: white;
}

/* nav */

#top #nav {
    width: 500px !important;
}

/* posts */

#posts {
    width: 540px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    overflow-x: hidden;
}

.post {
    position: relative;
    width: 500px;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    list-style-type: none; /* IE9 fix */
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    -webkit-transition: opacity .5s ease;
}

.post p:last-child {
    margin-bottom: 0;
}

/* .meta */

.meta {
    width: 500px;
    margin: -10px 0 0 -10px;
    padding: 20px 10px;
}

.meta .blog_name,
.meta .reblogged_text,
.meta .reblogged_from_name,
.meta .note_count {
    display: inline-block;
    font-weight: bold;
    font-size: 90%;
}

.meta .reblogged_text {
    color: #808080;
}

.meta .note_count {
    float: right;
}

/* inline images */

.body img,
.caption img,
.album_art {
    max-width: 100%;
}

/* photo */

.post.photo .row {
    margin-top: 10px;
}

.post.photo .row:first-child {
    margin-top: 0;
}

.post.photo .row img {
    margin-left: 10px;
    vertical-align: top;
}

.post.photo .row img:first-child {
    margin-left: 0;
}

.row-1 img {
    width: 500px;
}

.row-2 img {
    width: 245px;
}

.row-3 img {
    width: 160px;
}

/* answer */

.question {
    position: relative;
    margin-top: 0;
    padding: 10px 20px;
    background-color: #e0e0e0;
    font-size: 125%;
    font-weight: bold;
    border-radius: 6px;
}

.question:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 25px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #e0e0e0 transparent;
    display: block; /* FF3 fix */
}

.asking {
    margin-left: 23px;
}

.asking_name {
    display: inline-block;
    vertical-align: top;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 90%;
}

.asking_name.anonymous {
    color: gray;
}

/* blacklisted posts */

.blacklisted {
    opacity: .875;
}

.notification {
    display: none;
}

.blacklisted > * {
    display: none;
}

/* videos have display: block; hardcoded */
.blacklisted iframe {
    display: none !important;
}

.blacklisted > .notification {
    display: block;
    text-align: center;
}

.keyword {
    font-style: italic;
}

.progress {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #88ffff;
    opacity: 0;
    border-right: 1px solid #00ffff;
    border-radius: 6px 0 0 6px;
}

@media screen and (max-width: 540px) {

    body {
        font-size: 12px;
    }

    #posts,
    #top #nav,
    .post.video > iframe,
    .audiobox > iframe,
    .meta {
        width: 100% !important;
    }
    
    #menu {
        right: 0 !important;
    }

    .dropdown.dropdown-tip:before {
        left: 139px !important;
    }

    .dropdown.dropdown-tip:after {
        left: 140px !important;
    }
    
    .post {
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .post:first-child {
        margin-top: 4px;
    }
    
    .post:last-child {
        margin-bottom: 4px;
    }
    
    .post.photo .row {
        margin-top: 6px;
    }

    .post.photo .row:first-child {
        margin-top: 0;
    }

    .post.photo .row img {
        margin-left: 2%;
        vertical-align: top;
    }
    
    .post.photo .row img:first-child {
        margin-left: 0;
    }
    
    .row-1 img {
        width: 100%;
    }

    .row-2 img {
        width: 49%;
    }

    .row-3 img {
        width: 32%;
    }
}

@media screen and (min-width: 540px) {

    #menu {
        right: -20px !important;
    }

    .dropdown.dropdown-tip:before {
        left: 119px !important;
    }

    .dropdown.dropdown-tip:after {
        left: 120px !important;
    }

}
