html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2c4762;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: #202020;
}

/* generic elements */

a {
    color: #404040;
}

blockquote {
    margin: 1em 0;
    padding-left: 16px;
    border-left: 4px solid #c0c0c0;
}

h2 {
    margin-top: 0;
}

noscript p {
    text-align: center;
    font-size: 24px;
    color: white;
}

/* nav */

#top #nav {
    width: 500px !important;
}

#new-link {
    float: right;
    width: 24px;
    height: 24px;
    margin: 5px 20px 0 0;
    text-indent: -65536em;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DCRQhBb8GessAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAM0lEQVQoz2NYcfA6AxL2AeL/+DBJipE1oCtmwILhGrCZjFfDf3I1MBDAoxoGqQaiMMkaAPnlD/AWM5t5AAAAAElFTkSuQmCC");
    background-position: center;
    background-repeat: no-repeat;
}

/* jquery.dropdown.js overrides */

#new.dropdown.dropdown-tip:before {
    left: 82px !important;
}

#new.dropdown.dropdown-tip:after {
    left: 81px !important;
}

/* posts */

#posts {
    width: 540px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    overflow-x: hidden;
}

.post {
    width: 500px;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    list-style-type: none; /* IE9 fix */
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.post p:first-child,
.post blockquote:first-child {
    margin-top: 0;
}

.post p:last-child,
.post blockquote:last-child {
    margin-bottom: 0;
}

/* .meta */

.meta {
    width: 500px;
    padding-bottom: 10px;
}

.meta .avatar {
    position: absolute;
    margin-left: -75px;
    margin-top: -20px;
}

.meta .avatar:after {
    content: "";
    position: absolute;
    top: 33%;
    left: 43px;
    font-size: 0;
    border: 6px solid transparent;
    border-right-color: white;
}

.meta .avatar img {
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.meta .blog_name,
.meta .reblogged_text,
.meta .reblogged_from_name,
.meta .note_count {
    display: inline-block;
    font-weight: bold;
    font-size: 90%;
    color: #a8b1ba;
}

.meta .reblogged_text {
    display: inline-block;
    width: 24px;
    height: 18px;
    text-indent: -65536em;
    opacity: 0.25;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DDhI1KE0tteAAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAR0lEQVQoz51QQQoAMAjy/6/yKf7EnQYRbasJQoSSCfRADOFs4oOOprh4UeW5QyRNHtJvE4yDG2KjaOHWFHe+TkPMTxlDqCNanU04I/CzZMEAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: center;
}

.meta .buttons {
    display: block;
    float: right;
}

.meta .buttons a {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin: -4px 5px 0 5px;
    text-indent: -65536em;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;
    cursor: pointer;
}

.meta .buttons .note_count {
    margin-top: 0;
    text-indent: 0;
    width: auto;
}

.meta .buttons a:hover {
    opacity: .4;
}

.meta .like {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAKpJREFUOMtjYEAASSAuAeJWIPZkwATuQNwCxKVALI0uWQvE/9HwXSDmAmIOIL6JRb4FpjkYiyQI/wPik0B8CMrGpiYKZMA5PArwYZCeqyADfpOhGYb/ggz4TIEB30EGHKDACwdBBoRQ4AJvWEwcIUPzZvS0cJ8Er5zHktAYGIH4ChGaDzMQAHvwaF7JQCRYgUXzdAYSwWokzQsZyARngPg0AwVACIhF8SkAAMPynT1kaOy2AAAAAElFTkSuQmCC");
}

.meta .like.liked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAALhJREFUOI1jYICC/wwOkkBcAsStQOzJgAaAYu5A3ALEpUAsjS5ZC8T/0fBdIOYCYg4gvolFvgWmORiLJAj/A+KTQHwIysamJgpkwDk8CvBhkJ6rIAN+k6EZhv+CDPhMgQHfQQYcoMALB0EGhFDgAm9YTBwhQ/Nm9LRwnwSvnEdPaCADGIH4ChGaD2NoRjNoDx7NK/FqRjJkBRbN04nSjGTIaiTNC0nSjGTIGSA+TZZmqAFCQCyKTw0ABCZ522SJgWUAAAAASUVORK5CYII=");
    opacity: 1;
}

.meta .reblog {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DEAEXFoVY0+4AAAB8SURBVDjLrZNBDsAgCAT3R3zRp/ITemmNFaRkCwknzUTZAfhXguaybqhlUCHaTtABQLcLTE9oB8xujnv6c1BpB8PXLIqh6B4GA0MEW4GMT1oxnhX16KKRMPfLdZYM7AWMkqa3RZqknsDOLTmunhI9IqeMTDkVtRWY2l+pC/EMlUPEiG+vAAAAAElFTkSuQmCC");
}

.meta .info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAALFJREFUOMtjYMAEPEAcCcRbgfg/EH+EsiOhcnhBJFQTPhyJS3MzEZphuJlYm/8CsSUQx+NzCQ8em/4AsS4QB+KQ5yHG3yBX/MMXHltxSB4A4g4gTgfiqzjUgPSCowmb5AsglgZiDiD+hkPNR3wGgMRZgNgTj/c+4vPCWmggT8JjwFZ8gZgCNeA2EP/EF4i4olEFiIWAeAcQn8IXjbhc4QHEqkC8jtgkTVFSpkpmIis7AwCcpLDVlUFfKQAAAABJRU5ErkJggg==");
}

/* Clear meta, just in case */

.photos, .audiobox {
    clear: both;
}

/* info menu / jquery.dropdown.js overrides */

.info-menu {
    display: none;
    margin-left: -4px;
}

.info-menu ul {
    margin-left: -60px !important;
}

/* Stop long words at the padding, not the edge of the post box */

.body,
.caption,
.description {
    overflow: hidden;
    margin-top: 10px;
}

/* inline images */

.body img,
.caption img,
.description img {
    max-width: 100%;
}

/* photo */

.post.photo .photos {
    margin: 10px 0;
}

.post.photo .row {
    margin-top: 10px;
}

.post.photo .row:first-child {
    margin-top: 0;
}

.post.photo .row img {
    margin-left: 10px;
    vertical-align: top;
}

.post.photo .row img:first-child {
    margin-left: 0;
}

.row-1 img {
    width: 500px;
}

.row-2 img {
    width: 245px;
}

.row-3 img {
    width: 160px;
}

/* quote */

.quote .quote {
    margin-left: 10px;
    font-weight: bold;
}

.quote .quote:before {
    content: "\201c";
    display: block;
    position: absolute;
    margin-top: -6px;
    margin-left: -24px;
    font-size: 36px;
    color: #c0c0c0;
}

.quote .source {
    margin-left: 30px;
}

.quote .source:before {
    content: "\2014";
    display: block;
    position: absolute;
    margin-left: -20px;
}

/* link */

.link .link {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

/* chat */

.chat .dialogue {
    list-style-type: none;
    padding-left: 0;
}

.chat .dialogue li {
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-top: -1px;
}

.chat .dialogue li:nth-child(2n) {
    background-color: #fdfdfd;
}

/* audio */

.audio .audiobox {
    margin: 10px 0;
}

.audio .audiobox .album_art {
    display: block;
    float: left;
    max-width: 100px;
    margin: 10px 10px 10px 0;
    border: 1px solid white;
    cursor: pointer;
    -webkit-transition: max-width .5s ease;
    -moz-transition: max-width .5s ease;
    -o-transition: max-width .5s ease;
    transition: max-width .5s ease;
}

.audio .audiobox .album_art.expanded {
    max-width: 100%;
}

.audio .audiobox .album_art,
.audio .audiobox embed {
    box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
}

.audio .audiobox p {
    font-weight: bold;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.audio .audiobox .track_name {
    margin-top: 15px;
    font-weight: bold;
}

.audio .audiobox .artist:before {
    content: "by ";
    font-weight: normal;
}

.audio .audiobox .album:before {
    content: "from ";
    font-weight: normal;
}

.audio .caption {
    clear: left;
}

/* video */

.post.video .player {
    margin: 10px 0;
}

/* answer */

.answerbox {
    margin: 10px 0;
}

.question {
    position: relative;
    margin-top: 0;
    padding: 10px 20px;
    background-color: #e0e0e0;
    font-size: 125%;
    font-weight: bold;
    border-radius: 6px;
}

.question:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 25px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #e0e0e0 transparent;
    display: block; /* FF3 fix */
}

.asking {
    margin-left: 23px;
}

.asking_name {
    display: inline-block;
    vertical-align: top;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 90%;
}

.asking_name.anonymous {
    color: gray;
}

/* blacklisted posts */

.blacklisted {
    position: relative;
    opacity: .875;
}

.notification {
    display: none;
}

.blacklisted > * {
    display: none;
}

/* videos have display: block; hardcoded */
.blacklisted iframe {
    display: none !important;
}

.blacklisted > .notification {
    display: block;
    text-align: center;
}

.keyword {
    font-style: italic;
}

.progress {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #88ffff;
    opacity: 0;
    border-right: 1px solid #00ffff;
    border-radius: 6px 0 0 6px;
}

/* tags */

.tags {
    margin-top: 10px;
}

.tags a {
    display: inline-block;
    margin: 5px 10px 0 0;
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
}

.tags a:hover {
    text-decoration: underline;
}

/* read more breaks */

.read_more {
    display: block;
    margin: 10px 0 -16px 0;
}

.cut {
    -webkit-transition: 1s opacity ease;
    -moz-transition: 1s opacity ease;
    -o-transition: 1s opacity ease;
    -transition: 1s opacity ease;
}

.cut.under {
    display: block;
    height: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
}

.cut.over {
    height: auto;
    opacity: auto;
}

/* load more */

#bottom > div {
    text-align: center;
}

#load_more {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #dce6ef;
}

#load_more.loading {
    padding-left: 20px;
    background-image: url("data:image/gif;base64,R0lGODlhEAAQAPIAABYkMf///0xXYcHFyP///6SproeOlXiAiCH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==");
    background-position: left center;
    background-repeat: no-repeat;
}

/* Under 660px, avatars get cut off */

@media screen and (max-width: 660px) {
    
    .meta .avatar {
        position: relative;
        top: 0;
        margin: 0 10px 0 -10px;
    }

    .meta .avatar:after {
        display: none;
    }

    .meta .avatar img {
        vertical-align: middle;
        border-radius: 3px;
        box-shadow: none;
    }

    .buttons {
        margin-top: 10px;
    }

}

@media screen and (max-width: 540px) {

    body {
        font-size: 12px;
    }

    #posts,
    #top #nav,
    .post.video > iframe,
    .audiobox > iframe,
    .meta {
        width: 100% !important;
    }
    
    #menu {
        right: 0 !important;
        top: 32px !important;
    }
    
    .post {
        width: 100%;
        border-radius: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    .post:first-child {
        margin-top: 4px;
    }
    
    .post:last-child {
        margin-bottom: 4px;
    }
    
    .buttons {
        position: absolute;
        right: 20px;
        margin-top: -28px;
        background-color: white;
        box-shadow: -5px 0 3px white;
    }
    
    .post.photo .row {
        margin-top: 6px;
    }

    .post.photo .row:first-child {
        margin-top: 0;
    }

    .post.photo .row img {
        margin-left: 2%;
        vertical-align: top;
    }
    
    .post.photo .row img:first-child {
        margin-left: 0;
    }
    
    .row-1 img {
        width: 100%;
    }

    .row-2 img {
        width: 49%;
    }

    .row-3 img {
        width: 32%;
    }
}
