#content {
    margin: 5% auto 0 auto;
}

#register {
    width: 500px;
    font-size: 18px;
}

#register p:first-child {
    margin-top: 0;
}

#register em {
    font-size: 14px;
    border-bottom: 1px dotted hsla(210, 35%, 90%, .5);
    cursor: pointer;
}

#the-box:after {
    content: " to the right";
}

#why {
    display: none;
    font-size: 14px;
    color: hsl(210, 35%, 75%);
}

#register-example {
    position: relative;
    float: right;
    width: 320px;
    margin-left: 20px;
    padding: 20px;
    color: #444;
    background-color: #eee;
    border-radius: 10px;
    border-bottom: solid 1px #ccc;
}

#register-example h2,
#register-example h2 a {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#register-example h2 a:after {
    display: inline-block;
    content: "\00a0";
    width: 10px;
    height: 10px;
    margin-left: 3px;
    margin-bottom: 3px;
    text-decoration: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DCgINNN33YXMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAWklEQVQY03XPwQ0AIAgDQDZhFEZxPddwCr9sgpqoqQ0++rA5FaS2Ljs6E78IwBWbceokgytlY2WYfWUwzgPxJaMxCsNTHhRw+YGIHXrLIGLsNYN3Uzz/tg6GA1RmD10vBWFkAAAAAElFTkSuQmCC");
}

#register-example p {
    margin: 20px 0 5px 0;
    text-align: left;
}

#register-example p:first-child {
    margin-top: 0;
}

#register-example input {
    width: 100%;
    margin: 0;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#content {
    overflow: hidden;
}

@media screen and (max-width: 1000px) {

    #register {
        width: 50%;
    }
    
    #register-example {
        width: 36%;
    }
    
}

@media screen and (max-width: 540px) {
    
    #register,
    #register-example h2 {
        font-size: 14px;
    }

    #register-example {
        width: 100%;
        margin: 0;
        float: none;
        box-sizing: border-box;
    }

    #register-example h2 a:after {
        margin-bottom: 1px;
    }

    #register {
        width: 100%;
        margin-top: 20px;
    }
    
    #the-box:after {
        content: " above";
    }

    #why {
        font-size: 12px;
    }

}
