#rules {
    display: table;
    width: 100%;
    text-align: center;
}

.row {
    display: table-row;
    height: 30px;
}

.row > div {
    display: table-cell;
    padding: 10px;
}

.row:nth-of-type(2n+1) {
    background-color: rgba(205, 211, 233, .125);
}

.row:nth-of-type(2n+1) > div {
    border-bottom: 1px solid rgba(205, 211, 233, .5);
}

.label {
    padding-left: 5px;
    text-align: left;
}

.keyword {
    text-align: left;
}

.row.defaults .label {
    color: #808080;
}

.row.add {
    background-color: inherit;
}

.row.add .label {
    border-bottom: none;
    cursor: pointer;
    color: #000080;
}

/* pure CSS delete icon from http://nicolasgallagher.com/pure-css-gui-icons/ */

.defaults .delete {
    visibility: hidden;
    cursor: inherit;
}

.delete a {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    text-indent: -65536em;
    color: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DCBY3Do90pZ8AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAaUlEQVQokWP4//8/AwwfDmfQB2FkMXxyKJJHQhkegTC6IlxyKJJHQxn+gzCyInxyGJLoivDJ4dQMVfQHhzhEMzan4cMozkYPFGI1omhGMgCXU/8QjCqSbSbbzxSFNkXxTFEKozhtk5urABt85XGHtftHAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
