#content {
    margin: 5% auto 0 auto;
}

form {
    position: absolute;
    left: 25%;
    right: 25%;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: 16px;
    color: hsl(210, 38%, 88%);
    background-color: hsl(210, 38%, 20%);
    border: 1px solid hsl(210, 38%, 10%);
    border-radius: 4px;
    box-shadow:  1px 1px 0px hsl(210, 38%, 40%),
                -1px 1px 0px hsl(210, 38%, 40%);
}

#changename #id_username {
    margin-bottom: 0;
    border-bottom: 1px solid hsl(210, 38%, 10%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#changename #id_password {
    margin-top: 0;
    border-top: 1px solid hsl(210, 38%, 25%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

input[type=submit] {
    cursor: pointer;
    padding: 5px 20px;
    -webkit-appearance: none;
    background: #374859; /* Old browsers */
    background: -moz-linear-gradient(top,  #374859 0%, #2f3d4c 50%, #27333f 51%, #1f2933 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#374859), color-stop(50%,#2f3d4c), color-stop(51%,#27333f), color-stop(100%,#1f2933)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #374859 0%,#2f3d4c 50%,#27333f 51%,#1f2933 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #374859 0%,#2f3d4c 50%,#27333f 51%,#1f2933 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #374859 0%,#2f3d4c 50%,#27333f 51%,#1f2933 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #374859 0%,#2f3d4c 50%,#27333f 51%,#1f2933 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#374859', endColorstr='#1f2933',GradientType=0 ); /* IE6-9 */
}

input[type=submit]:hover {
    background: #405366; /* Old browsers */
    background: -moz-linear-gradient(top,  #405366 0%, #374659 50%, #2f3d4c 51%, #26333f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405366), color-stop(50%,#374659), color-stop(51%,#2f3d4c), color-stop(100%,#26333f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #405366 0%,#374659 50%,#2f3d4c 51%,#26333f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #405366 0%,#374659 50%,#2f3d4c 51%,#26333f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #405366 0%,#374659 50%,#2f3d4c 51%,#26333f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #405366 0%,#374659 50%,#2f3d4c 51%,#26333f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405366', endColorstr='#26333f',GradientType=0 ); /* IE6-9 */
}

input[type=submit]:active {
    background: #26333f; /* Old browsers */
    background: -moz-linear-gradient(top,  #26333f 0%, #2f3d4c 49%, #374659 50%, #405366 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26333f), color-stop(49%,#2f3d4c), color-stop(50%,#374659), color-stop(100%,#405366)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #26333f 0%,#2f3d4c 49%,#374659 50%,#405366 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #26333f 0%,#2f3d4c 49%,#374659 50%,#405366 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #26333f 0%,#2f3d4c 49%,#374659 50%,#405366 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #26333f 0%,#2f3d4c 49%,#374659 50%,#405366 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26333f', endColorstr='#405366',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 540px) {

    form {
        left: 25%;
        right: 25%;
    }
    
}
