#content {
    margin: 5% auto 0 auto;
}

form {
    position: absolute;
    left: 25%;
    right: 25%;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    font-size: 16px;
    color: hsl(210, 38%, 88%);
    background-color: hsl(210, 38%, 20%);
    border: 1px solid hsl(210, 38%, 10%);
    border-radius: 4px;
    box-shadow:  1px 1px 0px hsl(210, 38%, 40%),
                -1px 1px 0px hsl(210, 38%, 40%);
}

#changename #id_username {
    margin-bottom: 0;
    border-bottom: 1px solid hsl(210, 38%, 10%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#changename #id_password {
    margin-top: 0;
    border-top: 1px solid hsl(210, 38%, 25%);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media screen and (max-width: 540px) {

    form {
        left: 25%;
        right: 25%;
    }
    
}
