@font-face {
    font-family: 'Signika';
    src: url('signika-bold.eot');
    src: url('signika-bold.svg#signikabold') format('svg'),
         url('signika-bold.eot?#iefix') format('embedded-opentype'),
         url('signika-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('signika-light.eot');
    src: url('signika-light.svg#signikalight') format('svg'),
         url('signika-light.eot?#iefix') format('embedded-opentype'),
         url('signika-light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('signika-regular.eot');
    src: url('signika-regular.svg#signikaregular') format('svg'),
         url('signika-regular.eot?#iefix') format('embedded-opentype'),
         url('signika-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
