{% load static %}
{% load compress %}
<!DOCTYPE html> 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />

<title>{% if title %}{{title}} &mdash; {% endif %}Washboard</title>

<link rel="apple-touch-icon" href="{% static "images/apple-touch-icon-57x57.png" %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-touch-icon-72x72.png" %}" />
<link rel="apple-touch-icon" sizes="112x114" href="{% static "images/apple-touch-icon-114x114.png" %}" />

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "jquery.dropdown/jquery.dropdown.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "signika/stylesheet.css" %}" />
{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/washboard.less" %}" />
{% endblock %}
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.fix.clone.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.dropdown/jquery.dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "js/washboard.js" %}"></script>
{% block js %}{% endblock %}
{% endcompress %}

{% if user.is_authenticated %}
<div id="top" class="wrapper">
    <div>
        <div id="nav">
            <h1 id="title">
                <a class="logo" href="/dash">Washboard</a>
                <a class="title" href="{{ request.path }}">{{ title }}</a>
            </h1>
            <div id="links">
                <a class="js" id="menu-link" data-dropdown="#menu">Menu</a>
                <a class="js" id="new-link" data-dropdown="#new">New</a>
                <a class="js" id="blogs-link" data-dropdown="#blogs">Blogs</a>
            </div>
            <div id="menu" class="dropdown dropdown-tip">
                <ul class="dropdown-menu">
                    <li><a href="/rules">Rules</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <div id="new" class="dropdown dropdown-tip">
                <ul class="dropdown-menu">
                    {% with 'text photo quote link chat audio video' as types %}
                    {% for type in types.split %}
                    <li><a href="http://www.tumblr.com/new/{{ type }}">{{ type|title }}</a></li>
                    {% endfor %}
                    {% endwith %}
                </ul>
            </div>
            <div id="blogs" class="dropdown dropdown-tip">
                <ul class="dropdown-menu">
                    <li><a href="/dash">Dashboard</a></li>
                    {% for blog in request.session.blogs %}
                    <li><a href="/blog/{{ blog }}">{{ blog }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="middle" class="wrapper">
    <div>
        {% if not dash %}
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% else %}
        <div id="posts"></div>
        <div id="dropdowns"></div>
        <noscript>
            <p>Sorry, your browser does not have JavaScript enabled. (Maybe it's turned off?)</p>
        </noscript>
        {% endif %}
    </div>
</div>

<div id="bottom" class="wrapper">
    <div>
        {% block bottom %}{% endblock %}
    </div>
</div>
{% comment %}
vim:filetype=htmldjango
{% endcomment %}
