{% load static %}
{% load compress %}
<!DOCTYPE html> 
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="initial-scale=1, minimum-scale=1" />

<title>{% if title %}{% if not dash %}{{title}} &mdash; {% endif %}{% endif %}Washboard</title>

<link rel="apple-touch-icon" href="{% static "images/apple-touch-icon-57x57.png" %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-touch-icon-72x72.png" %}" />
<link rel="apple-touch-icon" sizes="112x114" href="{% static "images/apple-touch-icon-114x114.png" %}" />
<meta name="apple-mobile-web-app-capable" content="yes" />
{# Prevent links from opening Mobile Safari - https://gist.github.com/irae/1042167 #}
<script type="text/javascript">
(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&((' '+d.className+' ').indexOf(' js ')==-1)&&(chref=d.href).replace(e.href,"").indexOf("#")&&(!/^[a-z\+\.\-]+:/i.test(chref)||chref.indexOf(e.protocol+"//"+e.host)===0)&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone");
</script>

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "jquery.dropdown/jquery.dropdown.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "signika/stylesheet.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "opensans/stylesheet.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "awesome/css/font-awesome.css" %}" />
{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/washboard.less" %}" />
{% endblock %}
{% endcompress %}

{# Used to insert dynamic JS variables without attempting to cache them #}
<script type="text/javascript">
csrf_token = "{{ csrf_token }}";
{% block vars %}{% endblock %}
</script>

{# No need to recompress these minified scripts #}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/fastclick.min.js" %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static "js/jquery.fix.clone.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.dropdown/jquery.dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "js/washboard.js" %}"></script>
{% block js %}{% endblock %}
{% endcompress %}

{% if user.is_authenticated %}
<div id="top" class="wrapper">
    <div>
        <div id="nav">
            <a id="mini-logo" href="/dash">W</a>
            <a id="title" href="{{ request.path }}">{{ title }}</a>
            <a class="link js fa fa-user" aria-label="Blogs" onclick="Washboard.show_menu('blogs')"></a>
            <a class="link js fa fa-pencil-square" aria-label="New" onclick="Washboard.show_menu('new')"></a>
            <a class="link js fa fa-toggle-down" aria-label="Menu" onclick="Washboard.show_menu('other')"></a>
        </div>
        <div id="menus">
            <ul id="menu-blogs">
                {% for blog in request.session.blogs %}
                <li><a href="/blog/{{ blog }}">{{ blog }}</a></li>
                {% endfor %}
            </ul>
            <ul id="menu-new">
                {% with 'text photo quote link chat audio video' as types %}
                {% for type in types.split %}
                <li><a href="http://www.tumblr.com/new/{{ type }}">{{ type|title }}</a></li>
                {% endfor %}
                {% endwith %}
            </ul>
            <ul id="menu-other">
                <li><a href="/rules">Rules</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}

<div id="middle" class="wrapper">
    <div>
        {% if messages or alerts %}
        <ul id="messages" class="messages">
            {% if alerts %}
            {% for alert in alerts %}
            <li id="alert-{{ alert.pk }}" class="alert{% if alert.urgent %} urgent{% endif %}">
                <p>{{ alert.text|safe }} <a class="js dismiss" onclick="Washboard.dismiss_alert({{ alert.pk }})">Dismiss&nbsp;alert</a></p>
            </li>
            {% endfor %}
            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
        {% if not dash %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% else %}
        <div id="posts"></div>
        <div id="dropdowns"></div>
        <noscript>
            <p>Sorry, your browser does not have JavaScript enabled. (Maybe it's turned off?)</p>
        </noscript>
        {% endif %}
    </div>
</div>

<div id="bottom" class="wrapper">
    <div>
        {% block bottom %}{% endblock %}
    </div>
</div>

<script type="text/javascript">
$(function() {
    FastClick.attach(document.body);
});
</script>

{% comment %}
vim:filetype=htmldjango
{% endcomment %}
