{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/dash.less" %}" />
<link rel="stylesheet" type="text/css" href="{% static "mediaelement/mediaelementplayer.css" %}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/json2.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.timeago.js" %}"></script>
<script type="text/javascript" src="{% static "js/URI.min.js" %}"></script>
<script type="text/javascript" src="{% static "mediaelement/mediaelement-and-player.min.js" %}"></script>
<script type="text/javascript">
BASE_URL     = "{{ base_url }}";
ENDPOINT     = "{{ endpoint }}";
{% if blog %}
BLOG         = "{{ blog }}";
{% endif %}
username = "{{ user.username }}"
rules = {{ rules|safe }};
hidden_posts = {{ hidden_posts|safe }};
csrf_token = "{{ csrf_token }}";
</script>
<script type="text/javascript" src="{% static "js/dash.js" %}"></script>
{% endblock %}

{% block after_menu %}
<div id="new">
    <ul>
        {% with 'text photo quote link chat audio video' as types %}
        {% for type in types.split %}
        <li><a href="http://www.tumblr.com/new/{{ type }}">{{ type|title }}</a></li>
        {% endfor %}
        {% endwith %}
    </ul>
</div>
{% endblock %}

{% block bottom %}
<a id="load_more" class="js loading" onclick="load_more()">Loading...</a>
{% endblock %}
