{% extends "base.html" %}
{% load static %}
{% load handlebars_tags %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/dash.less" %}" />
<link rel="stylesheet" type="text/css" href="{% static "mediaelement/mediaelementplayer.css" %}" />
{% endblock %}

{% block vars %}
<script type="text/javascript">
Washboard = {{ wb|safe }};
csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}

{% block js %}
{% handlebars_scripts %}
{% handlebars_template "post" %}
{% handlebars_template "info" %}
{% handlebars_template "text" %}
{% handlebars_template "photo" %}
{% handlebars_template "quote" %}
{% handlebars_template "link" %}
{% handlebars_template "chat" %}
{% handlebars_template "audio" %}
{% handlebars_template "video" %}
{% handlebars_template "answer" %}
{% handlebars_template "reblog" %}
{% handlebars_template "reply" %}
{% handlebars_template "chooseblog" %}
{% handlebars_template "choosestate" %}
{% handlebars_template "notification" %}
{% handlebars_template "message" %}
{% handlebars_template "empty" %}
<script type="text/javascript" src="{% static "js/handlebars/plural.js" %}"></script>
<script type="text/javascript" src="{% static "js/json2.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.timeago.js" %}"></script>
<script type="text/javascript" src="{% static "js/URI.min.js" %}"></script>
<script type="text/javascript" src="{% static "mediaelement/mediaelement-and-player.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/dash.js" %}"></script>
{% endblock %}

{% block bottom %}
<a id="load_more" class="js loading" onclick="Washboard.load_more()">Initializing...</a>
{% endblock %}
