{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/faq.less" %}" />
{% endblock %}

{% block content %}
<div id="logo">
    <h1><a href="/">Washboard</a></h1>
    <h2>FAQ</h2>
</div>

<ul id="faq">
    <li><p class="question">What is Washboard?</p>
        <p class="answer">Washboard is a web app that provides an alternative frontend to Tumblr. Its primary goal is to give mobile users a way to blacklist keywords, since mobile devices don't have Tumblr Savior or XKit.</p>
    </li>
    <li><p class="question">Why do I need to choose a password?</p>
        <p class="answer">It's a way to keep track of your account even if you change your Tumblr username. If you change your primary blog's name, you'll need to enter your old name and your Washboard password the next time you sign in.</p>
    </li>
    <li><p class="question">How does blacklisting work?</p>
        <p class="answer">The "Rules" page allows you to manage your blacklisted and whitelisted keywords. Each keyword has options to show / hide the notification upon blacklisting and to match whole / partial words.</p>
    </li>
    <li><p class="question">What if a post contains both blacklisted and whitelisted keywords?</p>
        <p class="answer">Usually the whitelisted keyword(s) will cause the post to be displayed, but if any of the blacklisted keywords opt to hide the notification, Washboard compromises by showing the notification.</p>
    <li><p class="question">Will the blacklist stop working if Tumblr updates the layout?</p>
        <p class="answer">Nope. Although this happens occasionally with desktop browser extensions, Washboard uses the Tumblr API, which is relatively stable. In the event that something critical breaks, Washboard will not display posts at all, rather than displaying all posts indiscriminately.</p>
    </li>
    <li><p class="question">How do I view notifications on my posts?</p>
        <p class="answer">Unfortunately, the Tumblr API does not provide a way for third-party apps to view notifications yet.</p>
    </li>
    <li><p class="question">It's not working! What do I do?</p>
        <p class="answer">Please <a href="mailto:admin@washboard.ws">email me</a> or <a href="http://blog.grantgarcia.org/ask">send me an ask</a> with as many details as you can provide. Your feedback is critical!</p>
    </li>
    <li><p class="question">Does Washboard comply with Tumblr's <a href="http://www.tumblr.com/docs/en/api_agreement">API License Agreement</a>?</p>
        <p class="answer">Yes. There are two grey areas: the first is the clause that prohibits "substantial replication" of services like the Dashboard, but it explicitly permits "specialized views" of such content, which Washboard falls under. The second is the clause prohibiting removal or insertion of content, but this is a non-issue because Washboard only removes content that the user explicitly requests to be removed.</p>
        <p class="answer">As an aside: right now the API does not insert advertisements into the stream, but when this changes, Washboard will always display the ads as a measure of good faith.</p>
    </li>
</ul>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
