{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/rules.less" %}" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/rules.js" %}"></script>
{% endblock %}

{% block content %}
<form method="post" onsubmit="return false">
    <fieldset>
        {% csrf_token %}
        <div id="rules">
            {% for ruleset_name, ruleset in rules.items %}
            <h2>{{ ruleset_name|title }}</h2>
            <div id="{{ ruleset_name }}" class="ruleset">
                <div class="row header">
                    <div class="delete">Delete</div>
                    <div class="keyword">Keyword</div>
                    <div class="show_notification">Show notification</div>
                    <div class="whole_word">Whole word</div>
                    <div class="regex">Regex</div>
                </div>
                {% for rule in ruleset %}
                <div class="row{% if not rule.instance.keyword %} defaults{% else %} rule{% endif %}" data-prefix="{{ rule.prefix }}">
                    <div class="delete"><a class="js fa fa-lg fa-close" aria-label="Delete" onclick="delete_rule(this)"></a></div>
                    {% if not rule.instance.keyword %}
                    <div class="label">Default values</div>
                    <div class="keyword" style="display: none">{{ rule.keyword }}</div>
                    {% else %}
                    <div class="keyword">{{ rule.keyword }}</div>
                    {% endif %}
                    <div class="show_notification">{{ rule.show_notification }}</div>
                    <div class="whole_word">{{ rule.whole_word }}</div>
                    <div class="regex">{{ rule.regex }}</div>
                    <div class="blacklist" style="display: none">{{ rule.blacklist }}</div>
                </div>
                {% endfor %}
                <div class="row add">
                    <div class="label" onclick="add_rule(this)">Add rule</div>
                </div>
            </div>
            {% endfor %}

            <h2>Hidden posts</h2>
            <p>Choose "Hide this post" from any post's dropdown menu and it will be added to this list.</p>
            <div id="hiddenposts" class="ruleset">
                <div class="row header">
                    <div class="delete">Delete</div>
                    <div class="post">Post</div>
                    <div class="show_notification">Show notification</div>
                </div>
                {% for post in hiddenposts %}
                <div class="row{% if not post.instance.post %} defaults{% else %} rule{% endif %}" data-prefix="{{ post.prefix }}">
                    <div class="delete"><a class="js fa fa-lg fa-close" aria-label="Delete" onclick="delete_rule(this)"></a></div>
                    {% if not post.instance.post %}
                    <div class="label">Default values</div>
                    <div class="post" style="display: none">{{ post.post }}</div>
                    {% else %}
                    <div class="post">{{ post.post }}</div>
                    {% endif %}
                    <div class="show_notification">{{ post.show_notification }}</div>
                </div>
                {% endfor %}
                <div class="row add">
                    <div class="label" onclick="add_rule(this)">Add post</div>
                </div>
            </div>

            <div id="submit">
                <div class="row submit">
                    <input class="submit-button" type="submit" value="Save" onclick="form.submit()" />
                </div>
            </div>
        </div>
    </fieldset>
</form>

<p><a id="importruleslink" class="js" onclick="importrules()">Import from Tumblr Savior / XKit</a></p>
<p><a id="exportruleslink" class="js" onclick="exportrules()">Export to Tumblr Savior / XKit</a></p>

<form id="importrulesbox" action="/importrules" method="post" onsubmit="return false">
    <fieldset>
        <h2>Import from Tumblr Savior / XKit</h2>
        <p>Paste your Tumblr Savior or XKit save data into the box below to import your blacklist and whitelist.</p>
        {% csrf_token %}
        <div>
            {{ importrules.json }}
        </div>
        <div class="submit">
            <input class="submit-button" type="submit" value="Import" onclick="form.submit()" />
        </div>
    </fieldset>
</form>

<fieldset id="exportrulesbox">
    <h2>Export to Tumblr Savior / XKit</h2>
    <p>Copy the data in the box below and paste it into Tumblr Savior or XKit's import box to export your blacklist and whitelist.</p>
    <p>Note: exporting from Washboard to Tumblr Savior may overwrite your Tumblr Savior settings.</p>
    <div>
        <textarea cols="40" rows="10">{{ exportdata }}</textarea>
    </div>
</fieldset>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
