{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "css/welcome.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/setpassword.css" %}" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static "js/setpassword.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="logo">
    <h1>Washboard</h1>
</div>

<form id="setpassword" method="post" action="/setpassword">
    <p>You're almost done! Just pick a password and you'll be good to go. (You'll only need to use the password if you change your username.)</p>
    <fieldset>
        {% csrf_token %}
        {{ setpassword.password }}
        <input type="submit" value="Set password" />
    </fieldset>
    <p><a href="#" onclick="switch_form()">Click here</a> if you changed your Tumblr username.</p>
</fieldset></form>

<form id="changename" class="login" method="post" action="/changename" style="display: none">
    <p>Enter your old username and your password.</p>
    <fieldset>
        {% csrf_token %}
        {{ changename.username }}
        {{ changename.password }}
        <input type="submit" value="Change name" />
    </fieldset>
    <p><a href="#" onclick="switch_form()">Click here</a> if you haven't signed up for Washboard before.</p>
</fieldset></form>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
