{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/welcome.less" %}" />
{% endblock %}

{% block content %}
<!-- {{ environment }} -->
<div id="logo">
    <h1>Washboard</h1>
    <h2>for Tumblr</h2>
</div>

<div id="intro">
    <p>
        Washboard is a Tumblr interface that features keyword blacklisting and a few other accessibility aids.
        Use it through your web browser on any modern phone or desktop platform.
    </p>
    <form id="signin" method="get" action="/register">
        <fieldset>
            <input type="submit" value="Sign in with Tumblr" />
        </fieldset>
    </form>
    <p>Check the <a href="/faq">FAQ</a> if you have any questions.</p>
</div>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
