{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/welcome.css" %}" />
{% endblock %}

{% block content %}
<div id="logo">
    <h1>Washboard</h1>
    <h2>for Tumblr</h2>
    <h3>beta</h3>
</div>

<div id="intro">
    <p>Washboard is an interface to the Tumblr Dashboard that features keyword blacklisting.
        Think of it as a <a href="http://bjornstar.com/tumblr-savior">Tumblr Savior</a> port for mobile devices.</p>
    <p>Signing up is free and only takes a minute. <a href="/register">Try it out!</a></p>
</p>
</div>

<div id="login">
    <form action="/login" method="POST">
        <fieldset>
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</div>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
