{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "less/welcome.less" %}" />
{% endblock %}

{% block content %}
<!-- {{ environment }} -->
<div id="logo">
    <h1>Washboard</h1>
    <h2>for Tumblr</h2>
    <h3>beta</h3>
</div>

<div id="intro">
    <p>Washboard is a Tumblr interface that features keyword blacklisting.
       Like <a href="http://bjornstar.com/tumblr-savior">Tumblr Savior</a>, but for mobile devices.</p>
    <form id="signin" method="get" action="/register">
        <fieldset>
            <input type="submit" value="Sign in with Tumblr" />
        </fieldset>
    </form>
    <p>Check the <a href="/faq">FAQ</a> if you have any questions.</p>
    <img id="supported" src="{% static "images/supported.png" %}" alt="Runs on iDevices, Firefox, Chrome, and Safari." />
</div>
{% endblock %}

{% block bottom %}
{% include "links.html" %}
{% endblock %}
